
<%# IF IT HAS ANY ERRORS, SHOW THE MESSAGE %>
<% if @article.errors.any? %>
    <h3>The following errros prevented te article from being created
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="form-new-article">

    <%= form_with(model: @article, local: true, data: { turbo: false }) do |f| %>
        <legend><strong>Edit Article</strong></legend>

        <strong><%= f.label :title, class: "form-title" %></strong><br>
        <%= f.text_field :title, class: "form-text-field" %> <br>

        <strong><%= f.label :description, class: "form-title" %></strong><br>
        <%= f.text_area :description, class: "form-text-field" %> <br>

        <%= f.submit 'Save', class: "green-button"%>

    <% end %>

<br>

<button class="blue-button">
    <%= link_to 'Cancel and return to Articles', articles_path(@article) %>
</button>
</div>

