<h1>Article Details</h1>

<div>
    <strong>Title: </strong>
    <%= @article.title %>
</div>

<div>
    <strong>Description: </strong>
    <%= @article.description %>
</div>

<br>

<button class="yellow-button"><%= link_to 'Edit', edit_article_path(@article) %></button>
<button class="red-button"><%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
<button class="blue-button"><%= link_to 'Return to Articles', articles_path(@article) %></button>


